# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Logs
*.log


# Test coverage
htmlcov/
.coverage

# Profiling data
*.prof

# IDE settings
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/